[2017-02-12 21:36] buzem opened #1 "DenemeSes12"
Houston , there is no problem

[2017-02-13 06:48] yfenes opened #2 "Issue Testing Issue"
Easy peasy lemon squeezy.

Greetings from yfenes.

[2017-02-13 09:55] karacasoft opened #3 "I S S U E B O Y S"
Would you like some issues?

[2017-02-13 09:59] aycignl opened #4 "wiki page"
I create a personal wiki page.
Best.

[2017-02-13 10:52] murat0431 opened #5 "Hi everyone"
This is an issue

[2017-02-13 17:19] Morgazipa opened #6 "Why is it so hard to find a topic for an issue?"
Does anyone have an idea?

[2017-02-13 17:25] aycignl commented on #6
Actually, we are at the very beginning of our project. I think we can have some issues such as creating a wiki page, doing a research about API, and so on.
Best.

[2017-02-13 18:31] EgemenKaplan opened #7 "There might be an issue"
Maybe there is no issue.

[2017-02-13 19:50] karacasoft commented on #7
Too philosophical :V

[2017-02-13 21:47] iremUlutas opened #8 "Wiki page"
create a wiki page

[2017-02-16 12:44] #1 closed, assigned to nobody

[2017-02-16 12:44] #3 closed, assigned to nobody

[2017-02-16 12:44] #2 closed, assigned to nobody

[2017-02-16 12:44] #4 closed, assigned to nobody

[2017-02-16 12:44] #5 closed, assigned to nobody

[2017-02-16 12:44] #6 closed, assigned to nobody

[2017-02-16 12:44] #7 closed, assigned to nobody

[2017-02-16 12:44] #8 closed, assigned to iremUlutas

[2017-02-16 12:46] karacasoft opened #9 "Mucahit's Personal Wiki Page"
Can we get an update about it, soon?

[2017-02-16 12:53] karacasoft opened #10 "Removing the name of the person we cannot reach from wiki Sidebar"
Should we remove it?

[2017-02-16 13:10] aycignl commented on #10
I agree with this opinion.
If he comes, we will rearrange wiki sidebar.
Best.

[2017-02-16 13:29] murat0431 commented on #10
I agree with the opinion too.

[2017-02-16 13:31] karacasoft commented on #10
Then I'll remove the name and close this issue for now. Feel free to re-open whenever you object to my decision. 😀

[2017-02-16 13:31] #10 closed, assigned to karacasoft, aycignl, buzem, iremUlutas, EgemenKaplan, Morgazipa, Mccelik, yfenes, murat0431

[2017-02-16 17:38] karacasoft commented on #9
You can close this issue whenever your page is ready @Mccelik

[2017-02-16 17:40] karacasoft opened #11 "Template for draft wiki pages?"
Should we put some text to define the wiki pages that are in draft stage?

[2017-02-16 17:44] aycignl commented on #11
Actually, we can add a line at the top of the wiki page like 'this is a draft version', or 'to be updated'.
Best.

[2017-02-16 17:49] karacasoft commented on #11
True. We can also create a box that includes the text "this is a draft version", like Wikipedia. Except no heavy styling(coloring, border style,...) is required, just a box, and the text.

[2017-02-17 09:28] #9 closed, assigned to Mccelik

[2017-02-18 14:40] karacasoft commented on #11
Is this piece of code OK to put on every draft page?

`> **This page is currently a draft. We will improve it soon.**`

[2017-02-20 18:33] karacasoft commented on #11
Although there's no real feedback here, it seems this thing is kinda accepted so I'm closing this issue for now.

[2017-02-20 18:33] #11 closed, assigned to nobody

[2017-02-20 18:36] karacasoft opened #12 "Move Draft Project Requirements to Github Wiki"
The first version of project requirements should be moved to Github Wiki from Google Drive.

[2017-02-20 20:49] karacasoft opened #13 "Should we still consider Requirements page a draft?"
We have added our current list of requirements now to GitHub wiki. Shall we remove the "draft" header of the page?

[2017-02-20 20:49] karacasoft commented on #12
Done!

[2017-02-20 20:49] #12 closed, assigned to karacasoft

[2017-02-21 04:48] aycignl opened #14 "Should we still consider Communication Plan page a draft?"

[2017-02-21 06:07] aycignl commented on #13
I think this version of Requirements page seems to be ok.

[2017-02-21 06:45] aycignl commented on #14
I think it seems fine for us so I accept this is a real version of Communication Plan.

[2017-02-21 06:45] #14 closed, assigned to nobody

[2017-02-21 13:18] karacasoft commented on #13
So it's not a draft anymore, then?

[2017-02-21 14:02] aycignl commented on #13
Actually, yes. Now, it is not a draft.
If TAs give feedback, we will edit Requirements page again.
Best.

[2017-02-21 22:00] karacasoft commented on #13
Allright :+1:

[2017-02-21 22:00] #13 closed, assigned to nobody

[2017-02-24 16:47] iremUlutas opened #15 "Editing the project requirements until 25.02.2017"
We need to review the projects requirements documentation according to the feedback we received from our customer.

[2017-02-25 18:36] buzem commented on #15
OK, I will look at it now.

[2017-02-26 18:04] karacasoft commented on #15
Why is this not resolved yet?

[2017-02-26 18:11] iremUlutas commented on #15
I've actually assigned myself to it and finished doing it. just forgot to resolve. Sorry, my bad.

[2017-02-26 18:11] #15 closed, assigned to iremUlutas

[2017-03-04 14:41] yfenes opened #16 "Use Case Diagram must be drawn."

[2017-03-04 14:42] yfenes opened #17 "Use Case Diagram must be submitted to GitHub."
It should be in the correct format. And proper link should be added to wiki.

[2017-03-06 06:31] aycignl opened #18 "add Use Case Scenario"
Use Case Scenario must be added to the wiki page.

[2017-03-06 06:32] #16 closed, assigned to nobody

[2017-03-06 10:17] aycignl opened #19 "ask to Customer"
What is the deadline for revisions after feedbacks?

[2017-03-06 14:25] karacasoft commented on #19
This is not a question. I think we should label this as "required".

[2017-03-06 14:29] karacasoft commented on #17
Isn't a screenshot of the diagram enough?

[2017-03-06 17:39] aycignl opened #20 "edit mockups"
We need to edit web and android mockups according to customer's feedback.
Everyone should comment here about which part they were fixed or are planning to fix.

[2017-03-06 18:19] aycignl commented on #20
I decided to divide this issue into several parts according to the feedback.

[2017-03-06 18:20] #20 closed, assigned to nobody

[2017-03-06 18:42] aycignl opened #21 "edit Search a group page in Web mockup"
need to edit this part in Web mockup: Search a group ---> Search facility may also use tags.
Please, close this issue when you fix it.

[2017-03-06 18:43] aycignl opened #22 "edit Group page in Web mockup"
need to edit this part: Group page ---> Mahmut is not a registered member of Metal group in this mockup. But there is a post that he posted and has "shared Metal" label. Please use corresponding data and scenario.
Please, close this issue when you fix it.

[2017-03-06 18:44] aycignl opened #23 "edit Profile page in Web mockup"
need to edit this part: Profile page ---> We see Mahmut's account and his profile page. But Follow button is active, I understand from its color. Please use corresponding data and scenario.
Please, close this issue when you fix it.

[2017-03-06 18:45] aycignl opened #24 "edit Homepage in Android mockup"
need to edit this part: Homepage ---> I guess there is a typo, "Sign Out" instead of "Sign Up".
Please, close this issue when you fix it.

[2017-03-06 18:46] aycignl opened #25 "edit Group page in Android mockup"
need to edit this part: Group page ---> Mahmut is not a registered member of Metal group in this mockup. But there is a post that he posted and has "shared Metal" label. Please use corresponding data and scenario.
Please, close this issue when you fix it.

[2017-03-06 18:52] karacasoft opened #26 "About issue naming..."
We should use more specific issue titles to make them more understandable when it is called. That is actually one of my ideas about this. We can create a rulebook of issue naming here with your comments.

Join in! 😀

[2017-03-06 18:53] karacasoft commented on #26
1) Issues should be ~~named~~ titled a little bit specific about the issue itself, to make them understandable at first sight.

[2017-03-06 18:56] aycignl commented on #26
You're right!
2. Issue ~~names~~ titles should start a verb, be short, include understandable statements.
**Exception:** Issues with _question_ tag may ignore this rule.

[2017-03-06 18:59] karacasoft commented on #26
3. Issue titles should not be longer than 100(debatable) characters.

[2017-03-06 19:03] karacasoft opened #27 "More mock-ups?"
What can we add to our current set of mock-ups? Or what could we improve in our UI/UX? (Considering the mock-ups, of course)

[2017-03-06 19:36] EgemenKaplan commented on #27
We can add a mock-up for the report system: one for regular users to report ill-behaviour and one for moderators to handle the reports they receive.

[2017-03-06 20:32] yfenes commented on #17
Yes it is enough.

[2017-03-06 20:32] #17 closed, assigned to nobody

[2017-03-06 20:36] yfenes commented on #26
I think we are all clear about this issue now :)
"Dağılalım" as in meetings :)

[2017-03-10 23:32] karacasoft opened #28 "About Like and Share feature..."
We never mentioned about "share", or "like" feature either in our mock-ups, or in our requirements, but use case diagram has these functionalities written in it.

Share feature seems to be mandatory for an application like this, but should we really have the "like" feature?

[2017-03-12 14:27] karacasoft commented on #28
Any ideas?

[2017-03-12 21:10] yfenes opened #29 "Use case diagram must be revised."
Use case diagram must be revised until 14.03.2017.
Specifically delete function and user types must be revised.

[2017-03-13 07:06] aycignl opened #30 "Introduce project"
Can we introduce our project on the home page of our repository?
Best.

[2017-03-13 12:22] karacasoft commented on #30
Wonderful idea! Who's willing to do it? :V

[2017-03-13 12:24] karacasoft commented on #29
Let's just remove the 2nd rule of #26 :V

[2017-03-13 19:49] aycignl commented on #30
I think I can do it 👍  I will update...

[2017-03-13 21:41] karacasoft opened #31 "www.interestr.com was registered before... :("
www.interestr.com was registered by someone else 😞

We might want to think about a new name. Let's gather all the name ideas here.

[2017-03-13 22:50] karacasoft commented on #26
Reopening this to say that I find the second rule to be too restrictive and I request it to be completely removed.

[2017-03-13 22:55] karacasoft commented on #27
Aaah! An admin/moderator panel! Sounds interesting. But needs a lot of work. Especially when we just created the class and sequence diagrams. Might want to create a separate issue just for that.

Other than that, we also need a new name for our project. Check #31 pls.

[2017-03-14 11:16] aycignl opened #32 "Update Meeting Notes 5"
We need to add all of the action items to this note.
There are more than three action items for that week.
Best.

[2017-03-14 11:30] karacasoft commented on #32
We cannot!

We should've taken the notes of the action items. We cannot expect to remember who was responsible for the other actions correctly. Also, even if we add the action items for those actions, that doesn't mean anything. We have lost track of them anyways.

Let's be a little bit more careful about our meeting notes, shall we?

We can close this for now. But the missing action items can be

[2017-03-14 11:34] aycignl commented on #32
You are totally right. We should be more careful in these matters.
Now, I am closing this issue.
Best.

[2017-03-14 11:34] #32 closed, assigned to nobody

[2017-03-14 11:37] aycignl commented on #19
I asked this question to TAs in the PS section.
If there are no strict deadline for revisions, the answer is that as soon as possible.
Best.

[2017-03-14 11:37] #19 closed, assigned to nobody

[2017-03-14 13:45] karacasoft commented on #30
I'm looking for it... 👀

[2017-03-17 11:07] karacasoft commented on #29
Why is this still open?

[2017-03-17 11:09] karacasoft commented on #26
I take this silence as a sign of acceptance and close this issue for now.

[2017-03-17 11:09] #26 closed, assigned to nobody

[2017-03-17 11:31] karacasoft commented on #28
Well, I don't want to be the guy who forces everyone to do whatever he wants, but you're kinda forcing me to do it.

There'll be no "like" feature in this application. ISSUE CLOSED!

[2017-03-17 11:31] #28 closed, assigned to nobody

[2017-03-17 14:33] iremUlutas opened #33 "FrontEnd/BackEnd/Android team members statement"
Should the meeting notes include the teams created? Since they will change later, I wasn't sure to add them now.

[2017-03-17 16:55] karacasoft commented on #33
Please check #32

We should never change our meeting notes after the meeting. Please just share whatever we have written in the meeting :)

[2017-03-18 18:44] karacasoft commented on #29
Was this forgotten to close or the job specified was never done? @yfenes

[2017-03-18 22:01] yfenes commented on #29
It was forgotten to close. Sorry about that. The job was done the day I opened this issue.

Actually forgetting issues is an issue for me :)

[2017-03-18 22:01] #29 closed, assigned to nobody

[2017-03-19 15:56] aycignl commented on #30
I prepared a draft for this issue and introduced our project on the home page. I think I can edit or update when we need it.
Best.

[2017-03-19 16:01] karacasoft commented on #30
I think we still need this thing open for a little more.
(There's no introduction in the home page? :V https://github.com/bounswe/bounswe2017group5/wiki )

[2017-03-19 16:02] aycignl commented on #30
Yes, I am sorry! You're right.
Best.

[2017-03-20 11:37] karacasoft commented on #33
Closing this, if there's nothing left to say...

[2017-03-20 11:37] #33 closed, assigned to nobody

[2017-03-20 12:46] Mccelik commented on #31
I have a suggestion, lets talk about it at the next meeting.

[2017-03-20 12:59] karacasoft commented on #31
Mysterious idea... Why? :? There's no need for that. Please share what you have in your mind, so that we can elaborate on it. Or tell us your reasoning behind hiding your idea for a while. :D

[2017-03-20 22:03] karacasoft commented on #30
Since project introduction in our home page is completed, I will close this issue for now...

[2017-03-20 22:03] #30 closed, assigned to nobody

[2017-03-23 14:15] karacasoft commented on #31
The keywords we have taken in the meeting today:

* interest
* community
* network
* connection
* group
* activity
* content-sharing

[2017-03-28 06:55] aycignl commented on #18
Use case scenarios are added to the wiki page by Irem Ulutas.

[2017-03-28 06:55] #18 closed, assigned to nobody

[2017-04-05 17:38] karacasoft commented on #23
This is a misconception. That profile page is not of Mahmut. I actually thought about it while designing the page, (I was like "we are looking at Mahmut's profile page as Mahmut and he can follow himself. There must be something wrong :V") and just changed the profile name.

We can think of it as another account created by a person that looks really (I mean REALLY) similar to Mahmut and very inter

[2017-04-05 17:38] #23 closed, assigned to nobody

[2017-04-05 17:40] karacasoft commented on #21
The search system uses tags implicitly. We don't have to show tags of the groups on Search bar. It'll create too much distraction for the user. But we can add a search in tag functionality. But that's not the case of this issue which I'm just closing now...

[2017-04-05 17:40] #21 closed, assigned to nobody

[2017-04-24 08:50] aycignl opened #34 "specify our api project name"
Do you have any suggestions about the name of api project?
I think, it can be 'gaussianApi' which is a temporary name for api project.
What do you think of this name?

[2017-04-24 13:01] karacasoft commented on #34
Well, our API doesn't really need a name, but our project does.
Check #31 pls. :D

We can also choose a temporary name for our project too. It'll help a lot when we want to talk about our project. But "Project Gauss" seems a little bit weird to me! :V

[2017-04-24 13:12] buzem commented on #34
respect for gauss :)

[2017-04-24 13:14] karacasoft opened #35 "API project needs to be done tomorrow!"
Now this is a real issue. :V

We have kinda decided what we will build. So here's my plan. Please confirm at some point in the future BUT not after tomorrow. 😀

My plan:
- [x] Build a small base application.
- [x] Put it on github as the base project.
- [x] Everyone will pull the project, and start building the models we discussed.
  - [x] Profile Model
  - [x] Group Model
  - [x] Post Model
  - [

[2017-04-24 13:17] karacasoft commented on #35
The first two is already done by Gönül, so I've marked them here. I'll be working on the Profile Model that holds extra information for each user in system.

[2017-04-24 14:54] iremUlutas commented on #35
I volunteer to implement the Group Model. Since this is a large one, those of you who want to contribute are always welcome.

[2017-04-24 16:28] aycignl commented on #35
I can implement Comment Model.

[2017-04-24 16:29] Morgazipa commented on #35
I would like to choose the Post Model.

[2017-04-24 23:12] karacasoft commented on #35
Unit tests are not done for now. I'll check them out later. I thank you all for your support. Have a nice day.

I'll close this for now. But feel free to reopen whenever you feel like implementing the unit tests.

[2017-04-24 23:12] #35 closed, assigned to nobody

[2017-05-08 16:25] karacasoft opened #48 "members field is a required attribute in Groups"
Can someone fix this on the `bugfix` branch? It has to be an optional field, members are not pre-determined on creation of a Group.

[2017-05-08 19:05] Morgazipa opened #49 "post authors are always admin."
For some reason,  although another account is active one always creates posts with "admin" as author.

[2017-05-15 12:13] karacasoft opened #51 "List of failing tests..."
I thought it would be convenient to have the tests that are failing listed here so that it can be easier to track their status.
- [x] test_deleteComment() : Deleting a comment posted by another user actually results in success which should return 401 Unauthorized.
- [x] test_getComment() : (Or rather Commment :V) A user should not be able to see a comment that is posted on a private group that the

[2017-05-15 12:18] karacasoft commented on #51
Btw. I'm currently working on the delete permission issues.

[2017-05-15 12:37] karacasoft commented on #51
Deleting an entity of some other user now returns 403 forbidden. Beware!

[2017-05-16 20:40] karacasoft commented on #48
Not anymore...

[2017-05-16 20:40] #48 closed, assigned to nobody

[2017-05-17 06:54] aycignl commented on #34
We used "gaussianApi" as the API project name.

[2017-05-17 06:54] #34 closed, assigned to nobody

[2017-05-19 11:07] karacasoft opened #52 "Removing the unnecessary branches"
Let's decide which branches are not required and remove them.
My List:
- view
- relations
- test

[2017-05-19 16:20] aycignl commented on #52
I think relations branch is not required. We can remove it.

[2017-05-20 13:58] karacasoft commented on #52
I'm removing these branches as they're found to be not required and are confusing to look at.

[2017-05-20 13:58] #52 closed, assigned to nobody

[2017-05-24 16:21] #27 closed, assigned to nobody

[2017-05-24 17:36] karacasoft commented on #51
Why would this be closed?

[2017-05-25 12:29] karacasoft opened #53 "Requirements Review"
For the first time, we have seriously reviewed the requirements.
Here's the result:

In the definition of Post:
Members do not send the post to their Profile Page. They send it to a group.

- [ ] 1112) Too General and Obvious (Not related with the system)
- [x] 1114) "they__ have__ created"
- [x] 11161) Duplicate of #1114
- [ ] 11171) No definition of "new activity"
- [ ] 11173) Do members see the

[2017-05-25 12:56] karacasoft opened #54 "Use Case Diagram Review"
We have reviewed the Use Case Diagram, with Gönül.
Here're the results:

- [ ] Registered Users are able to delete content. They should be able to delete, only their content.
- [ ] Delete operations can be grouped into one. And specific operations can be extended from that.

[2017-05-25 13:18] karacasoft opened #55 "Use Cases Review"
We have also reviewed the Use Cases. Wow! That's a lot of work!
Results:

- [x] 1.Preconditions) So users cannot register from Phone Application/Tablet Application/Their own http client working on a microcontroller,...? Seems not fine!
- [x] 1.Description) "...some public groups...", which ones?
- [x] 1.Steps.2) 8-32 char__acters__
		   "The registration conditions.". What?

- [x] 5.Goal) Unregist

[2017-05-25 20:05] buzem commented on #31
okidoki can be interesting name

[2017-05-26 12:00] iremUlutas commented on #31
interestr.io is available

[2017-05-26 12:00] buzem commented on #31
OK , it is fine

[2017-05-26 12:00] #31 closed, assigned to nobody

[2017-06-05 07:41] aycignl commented on #53
I fixed the selected ones

[2017-06-05 07:59] aycignl commented on #55
I think "has authority" is clear. Moderator is the admin of the system so it has some authorities such as to ban an unwanted user, to delete an unwanted post, and so on.

[2017-09-27 18:37] esra-aydemir opened #56 "Create A personal Wiki Page"
Create a personal wiki page and link it to the right sidebar on wiki home.

[2017-09-27 18:39] esra-aydemir opened #57 "Update Project Plan"
Update names in the project plan considering new team members.

[2017-09-27 18:43] esra-aydemir opened #58 "Update requirements documentation"
Update requirements considering the issues discussed on [Meeting13](https://github.com/bounswe/bounswe2017group5/wiki/Meeting-13---26.09.2017).
Use [requirements of old group3](https://github.com/bounswe/bounswe2017group3/wiki/Requirements) as base.

[2017-09-27 19:00] #58 closed, assigned to esra-aydemir

[2017-09-27 19:05] esra-aydemir opened #59 "Update Communication Plan"
update communication plan for new members and meeting slots

[2017-09-27 19:17] smddzcy opened #60 "Create labels to categorize issues"
We should create labels to categorize issues and easily filter or analyze them later.

[2017-09-27 19:18] smddzcy opened #61 "Label the current issues"
We should label the current (and ideally all the previous, but it's too much work) issues after we create labels.

- Related issue: #60

[2017-09-27 19:19] smddzcy opened #62 "Create issue and pull request templates"
We should create issue and pull request templates to make things more organized.

We can just get the templates I've created for my old group from here: https://github.com/bounswe/bounswe2017group3/tree/master/.github

[2017-09-27 19:28] ThoAppelsin commented on #59
I have updated it, could somebody review it?

[2017-09-27 20:00] yfenes commented on #57
Done.

[2017-09-27 20:29] ThoAppelsin commented on #56
I have created a profile page to myself, added its link to the sidebar.

[2017-09-27 21:33] karacasoft commented on #59
'Every necessary moment' might be a vague description. I don't think it's required to make it more descriptive, though. I just wanted to point it out.

Other than that, I see no other issues. :+1:

[2017-09-27 21:34] karacasoft commented on #61
You're talking about 8 issues that should be ~~tagged~~  labelled. Is it really too much? :V

[2017-09-28 09:31] esra-aydemir commented on #59
👍

[2017-09-28 09:31] #59 closed, assigned to ThoAppelsin

[2017-09-28 10:22] smddzcy commented on #60
@triforce930 Done. Waiting for your review 👍

[2017-09-28 10:28] smddzcy commented on #61
@triforce930 You opened 8 issues in total in the previous semester? Wow 😄 Still, we can do that maybe in another issue.
@esra-aydemir Done, please review 🚀

[2017-09-28 12:33] karacasoft commented on #60
Fine work! Thanks. :+1:

Closing this...

[2017-09-28 12:33] #60 closed, assigned to karacasoft

[2017-09-28 12:36] karacasoft commented on #61
I was counting the ones that are open right now. Are you planning to label the closed ones, too? If that's the case, yes, that's a lot of work!! 😄

[2017-09-30 15:32] esra-aydemir opened #64 "Add template structure to requirements"
Add template structure to requirements and glossary.
Update related requirements.

[2017-10-01 15:51] karacasoft commented on #62
I've merged the PR, case closed.

[2017-10-01 15:51] #62 closed, assigned to smddzcy

[2017-10-02 14:37] Morgazipa opened #65 "Use case diagram needs to be updated"
Our current use case diagram doesn't reflect the recent changes to our requirements, such as the support for costumizable templates. Also we should perhaps move the use case diagram to the use case page in the wiki, because the diagram doesn't look very nice in an otherwise empty page.

* Related Issues: #54
* Other Related Links: [current use case diagram](https://github.com/bounswe/bounswe2017gr

[2017-10-04 14:10] murat0431 opened #66 "Add use cases for template"
Add appropriate use cases for template

[2017-10-04 14:27] murat0431 commented on #66
Use cases for sharing a post and search is updated due to recent changes in the requirements such as adding a template to the posts.

[2017-10-04 14:27] #66 closed, assigned to murat0431

[2017-10-04 15:27] ThoAppelsin opened #67 "Web mockups for sharing something via template"
We need web mockups to depict how a user will share a content using a predefined template.

[2017-10-04 15:32] ThoAppelsin commented on #67
Web mockups for the structured sharing is online! We worked together with Mahmut on them yesterday.

[2017-10-04 15:32] #67 closed, assigned to karacasoft, ThoAppelsin

[2017-10-04 18:29] karacasoft opened #68 "Mobile mock-ups require data template update..."
## About

Mobile mock-ups require some updates related to data templates.
I've done template creation screens. Those need review.

We might also need to add posts with custom templates.

[2017-10-04 19:11] #61 closed, assigned to esra-aydemir

[2017-10-04 19:12] smddzcy commented on #56
My page is also created (actually moved from my old group), thanks to @esra-aydemir

Should we close it, if everyone is done?

[2017-10-04 19:18] smddzcy opened #69 "Create the new project plan"
## About

* **Related Issues:** #57
* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Project-Plan

Although updated recently (with #57), our existing project plan is very inaccurate. We should create a new plan, from scratch, because we don't have it in an editable format.

## Visuals

Nothing is created yet, will put some visuals once it's done.

## To-do

- [x] Choose

[2017-10-04 19:20] smddzcy commented on #69
Here are the tasks (thanks to @triforce930) of our new project plan:
[frontend.txt](https://github.com/bounswe/bounswe2017group5/files/1357099/frontend.txt)
[backend.txt](https://github.com/bounswe/bounswe2017group5/files/1357097/backend.txt)

[2017-10-04 19:44] smddzcy opened #70 "Choose a framework for the frontend"
## About

* **Related Issues:** #67, #22 (mockup updates)
* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Mockup-web (web mockups)

We should choose a front-end framework to ease our development process. Some things we should consider while choosing:
- It shouldn't have a high entry barrier, which means it should be easy enough for the beginners to understand and be so

[2017-10-04 19:47] smddzcy commented on #70
@bounswe/bounswe2017group5 I need everyone's input on this one. What do you think?

If we want to spend time on it but make it really good, my vote goes to React or Vue. (depending on everyone's knowledge)
If we want to make it easy, my vote goes to jQuery.

[2017-10-04 19:59] yfenes commented on #68
I've reviewed it, they are good.
I've also revised 2 mockup images, News Feed page & Group page, with new template posts.

[2017-10-04 19:59] #68 closed, assigned to karacasoft, yfenes

[2017-10-04 20:30] smddzcy opened #71 "Review the class diagram"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Meeting-14-28.09.2017

We should review and update (if necessary) our class diagram.

[2017-10-04 20:37] karacasoft commented on #70
If at least one person wants to dedicate himself on this job, I think React is possible. If no one wants to be the victim, jQuery seems to be the way.
<sub>I actually don't want use the term 'victim' here, because frontend people do really cool stuff that I probably will never be able to do. :V</sub>

Thanks for the pros/cons list btw. that really helps those non-web oriented people like me :+1:

[2017-10-04 20:39] smddzcy commented on #71
I've just decided that:
1. We should work on this together with the whole backend team, because this'll effect all the future development.
2. We should agree on our database structure first (whether noSQL or SQL). If we choose noSQL (highly possible), a strict diagram like this would be unnecessary, because the structure will change from instance to instance and it'll be flexible. We can just crea

[2017-10-04 20:50] ThoAppelsin commented on #70
I know nothing about any of the frameworks for JS. Pure JS has always worked well on me. I cannot really comment on the others.

[2017-10-04 20:57] ThoAppelsin commented on #56
Orbay and Ramazan do not have one yet, or their links may also be broken.

[2017-10-04 20:59] ThoAppelsin commented on #56
@norubai and @Morgazipa could you scribble something, it's not that so important, mine is almost completely irrelevant about the subject

[2017-10-04 21:29] smddzcy commented on #69
Here is our new project plan:
![project-plan](https://user-images.githubusercontent.com/13895224/31200567-1e0d78ba-a964-11e7-94b2-28f46f0c3a67.jpg)

Notes:
- I have no experience in Android development, so I left the time blocks blank for the Android tasks. @triforce930 is needed here 👍
- I'll create the milestones for the frontend once we choose a framework, but someone else should do the Android

[2017-10-04 22:41] #64 closed, assigned to esra-aydemir, oal55

[2017-10-04 22:48] esra-aydemir commented on #70
Since we will work on them as a team, I think "Extremely easy to learn" wins. They both have pros/cons so they all will cause problems somehow. I hope it is also "Extremely easy to learn the answers of issues".

jQuery

[2017-10-04 22:52] yfenes commented on #70
Esra +1

[2017-10-04 22:56] murat0431 commented on #70
Esraa +1

[2017-10-05 02:12] ThoAppelsin commented on #70
Although I have never used it, I have seen jQuery in use several times in the past years, and I have grown some sort of antipathy within me against the jQuery. This is no reason to not use it, but I wanted to say it sooner than later.

As far as I know, it is not that so extremely easy to learn, either. For example, it assumes that you have a decent amount of knowledge on CSS Selectors, unless you

[2017-10-05 08:56] karacasoft commented on #70
I strongly disagree that this should be the reason why we should go with the easy solution. We will NOT work on small parts of the project all together.

We might want to have a group of people working on learning a frontend framework and create re-usable, testable(is that a word?) components, rather than having everybody patch the frontend stuff as we go through the project.

[2017-10-05 10:23] smddzcy commented on #70
@ThoAppelsin Assuming you know the basic concepts of JS (e.g. callbacks, closures) and CSS selectors, you can learn jQuery **in 1 day**. It's the easiest _framework_, because actually it's not a framework, it's a huge library that does everything in an unstructured manner (like PHP). After learning the basic syntax and way of doing things with it (1 day), there is not much to learn, you can only m

[2017-10-05 17:50] karacasoft commented on #22
This was resolved by the last mockup revision. Closing now...

[2017-10-05 17:50] #22 closed, assigned to nobody

[2017-10-05 17:53] karacasoft commented on #51
This has became irrelevant for our project. Closing...

[2017-10-05 17:53] #51 closed, assigned to nobody

[2017-10-05 17:55] karacasoft commented on #53
We have completely renewed the requirements, so this has became irrelevant. Closing...

[2017-10-05 17:55] #53 closed, assigned to nobody

[2017-10-05 18:14] Morgazipa commented on #56
I actually have a personal page, but it seems that the link was broken for a long time. Hopefully, it is corrected now.

[2017-10-05 18:16] Morgazipa commented on #54
The points above are no longer relevant.

[2017-10-05 18:16] #54 closed, assigned to nobody

[2017-10-05 18:37] karacasoft commented on #49
This has became irrelevant, as we will rewrite the API anyway.

[2017-10-05 18:37] #49 closed, assigned to nobody

[2017-10-05 18:47] smddzcy commented on #70
@triforce930 By the way, choosing jQuery means that we won't use the views generated by Django and make an API-only backend (no server-side rendering). What do you think about this? 😄

[2017-10-05 18:48] smddzcy commented on #69
@bounswe/bounswe2017group5 Can everyone assign themselves to a few non-conflicting tasks?

[2017-10-05 18:56] karacasoft commented on #70
@smddzcy Nope that might not be the case. I have used Django and jQuery with server-side rendering before. I think that's the case that is more likely to happen when we use a framework. 😄

Though we will use jQuery anyway, if no one comes out and says that she'll learn Angular/React/something else. We might have to set a timeout for this conversation though. It'll go on forever, if we leave it up.

[2017-10-05 19:10] smddzcy commented on #70
@triforce930 Alright, server-side rendering with jQuery then 👍 Closing the issue 😄

[2017-10-05 19:10] #70 closed, assigned to smddzcy

[2017-10-05 19:17] smddzcy opened #72 "Create a server in Amazon"
## About

As discussed today, I'll create a server in Amazon to deploy our application.

## To-do

- [x] Create an Ubuntu server in Amazon EC2.
- [x] Set up the server.
- [x] Share the ssh key with the team.

[2017-10-05 19:37] #72 closed, assigned to smddzcy

[2017-10-10 09:12] karacasoft opened #73 "Django has no non-relational database support"
## About

* **Other Related Links:** https://django-mongodb-engine.readthedocs.io/en/latest/topics/setup.html

Django mongo-db engine relies on a fork of Django project (django-nonrel) which is a fork of the original Django project with non-relational database support. Is this ok? I personally think this may become a mess, later.

[2017-10-10 21:54] smddzcy commented on #73
Let's use Postgres, we can use json data types.

[2017-10-10 21:55] karacasoft commented on #73
Perfect,
Django has postgres support internally. Case closed...

[2017-10-10 21:55] #73 closed, assigned to nobody

[2017-10-19 11:32] smddzcy opened #75 "Customer Meeting - 19/10/17"
## About

We had a conversation with our customer in the lecture hour. These are the notes from that conversation.

## First Milestone Expectations
### Web
- Group create & read endpoints and its views
- Post create & read endpoints
- Default data template(s)

### Android
- Group list view

## Presentation
Our first presentation on **2nd of November** will be **20 mins** - most of it will be a dem

[2017-10-19 11:41] smddzcy commented on #75
Discussed with @triforce930 and decided we should allow these data types in data templates:
- Short text (`<input type="text">...`)
- Long text (`<textarea>...</textarea>`)
- Single choice (`<select>...</select>`)
- Multiple choice (`<select multiple>...</select>`)
- Date (`<input type="date">...`)
- Numeric (`<input type="number">...`)
- Email (`<input type="email">...`)

If we can finish everyth

[2017-10-19 12:00] smddzcy opened #77 "Add data template restrictions to requirements"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group5/issues/75

We should add the data template restrictions to our requirements.

[2017-10-19 12:01] smddzcy commented on #77
@esra-aydemir You are selected as the reviewer:
<img width="205" alt="screen shot 2017-10-19 at 15 01 01" src="https://user-images.githubusercontent.com/13895224/31769951-5b0386b2-b4de-11e7-85e5-acf79e025e38.png">

[2017-10-19 12:54] karacasoft opened #78 "Weekly Work Plan"
## About

We have two weeks for the next milestone.

_As we come closer to the end, we become more distressed each day, screaming "What do I do?" to each other, while running across the endless floors of the building._

**But, do not worry.** I have prepared a work plan that will save us all from this _darkness_.

You'll just have to take some of the jobs I've mentioned below. Please do not make m

[2017-10-20 10:11] iremUlutas commented on #78
I might volunteer for Post Model, but a little bit of clarification would be just great.

[2017-10-21 18:00] karacasoft commented on #78
My intention was to use this yesterday, but I decided to wait for a while. But, you've actually made me do this anyways. Here are the random.org results:
![randomorg_results](https://user-images.githubusercontent.com/5247569/31854407-2390fcd6-b6a1-11e7-9d5d-d8416a2061d1.png)

In this case,
* Ramazan will be doing the Data Template model and endpoints
* Samed and Enes will be working on the Fronten

[2017-10-21 18:03] karacasoft opened #79 "Token Authentication on Backend should be finished"
## About

* **Related Issues:** #78

Token Authentication should be working for registered users on the API.

- [ ] Write token authentication view for API.
- [ ] Write tests to validate that token authentication is working and its return format is correct.

[2017-10-21 18:11] karacasoft opened #80 "Groups Model: the beginning"
## About

* **Related Issues:** #78

We should start building a model for Groups. For this job to be considered 'finished' the Group model shall have these attributes:
* Create / Update / Delete
* Should let users join the group
* Should let users leave the group
* Its endpoints shall be set under /api/v1/groups

## To-do

- [x] Finish Group Model.
- [x] Write tests to validate that the Group mode

[2017-10-21 18:16] karacasoft opened #81 "Data Template model"
## About

* **Related Issues:** #78

We should start building the Data Template model. We already have a draft for this model. It has to have these attributes to be considered 'finished':
* Should have an interface to add/remove fields from its objects.
* Should expose an endpoint through the `api` project, under the url `/api/v1/templates`

## To-do

- [ ] Finish the Data Template model.
- [ ] Wr

[2017-10-21 18:21] karacasoft opened #82 "We shall have a working Post model"
## About

* **Related Issues:** #78

A template for the Post model already exists. But should have its fields filled and should expose an endpoint via `/api/v1/posts`. Only requirement for this to be done is to make Posts expose an endpoint. Other than that, adding some fields to the Post model is highly appreciated.

## To-do

- [ ] Make Post model usable.
- [ ] Write tests to validate that it is

[2017-10-21 18:25] karacasoft opened #83 "Frontend Pages; must have some drafts to work with..."
## About

* **Related Issues:** #78

We at least have to finish 5/6 pages until the milestone. We need some people working on these. Basic requirement is to make it look as closer to the mockups as possible. Other than that, we have 5 pages to be finished

- [x] Homepage
- [x] Login/Register Pages (we could combine these into one)
- [x] Create a Group Page
- [x] Groups Page
- [x] Group Detail Page

[2017-10-21 18:35] karacasoft commented on #55
All fixed. Closing...

[2017-10-21 18:35] #55 closed, assigned to nobody

[2017-10-21 18:44] karacasoft commented on #56
@norubai can you please create a wiki page for yourself? Just a simple page with name and e-mail will work fine for the time being.

[2017-10-21 18:44] karacasoft commented on #65
Was this completed? Or never even started?

[2017-10-21 19:02] #24 closed, assigned to karacasoft

[2017-10-21 19:02] #25 closed, assigned to karacasoft

[2017-10-21 19:13] karacasoft commented on #78
After carefully inspecting the project plan, I realized @ThoAppelsin was actually volunteered for Data Templates job. I'm so sorry for this to happen. I'm assigning @ThoAppelsin to the Data Templates job. Please follow #81 for more details.

[2017-10-21 19:30] karacasoft commented on #78
I'm closing this, as there's no need for this to be kept open.

[2017-10-21 19:30] #78 closed, assigned to karacasoft

[2017-10-21 19:36] karacasoft commented on #69
I have added the time schedule + milestones for Android. Requesting review now...

[2017-10-21 19:38] karacasoft commented on #75
Wiki-data query service link:
https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/Wikidata_Query_Help

[2017-10-22 20:40] smddzcy commented on #83
I'M ON IT 🐱

[2017-10-22 23:08] smddzcy commented on #83
@triforce930 What is `Groups Page`, exactly which mockup? I'll finish the rest tomorrow (hopefully).

[2017-10-22 23:49] karacasoft commented on #83
Well, there's no groups page. We designed our mock-ups to have the groups listed on the right of the news feed. We'll have to build one for the next milestone, though. You may create one without a strict style requirement.

[2017-10-23 21:16] karacasoft opened #85 "Postgresql setup in the setup script does not work very well"
## About

The script could not create a user and database in my computer. We might need a more sophisticated solution for this, or give information about how to setup the postgresql, so that people can work locally on their computer.

## Visuals

![image](https://user-images.githubusercontent.com/5247569/31913640-6bbef6d8-b850-11e7-8b80-2ba50afe437b.png)

[2017-10-23 21:16] karacasoft commented on #85
Until I get something ready for this, please reach out to me if you require setting up postgresql.

[2017-10-23 22:25] smddzcy commented on #83
@triforce930 Check the PR, everything is done 👌

[2017-10-23 22:26] smddzcy commented on #71
We recently discussed the backend architecture, so this one is no longer required. Closing.

[2017-10-23 22:26] #71 closed, assigned to smddzcy

[2017-10-23 22:28] smddzcy commented on #85
role "karacasoft"? Hmm... 🤔

[2017-10-23 22:36] karacasoft commented on #85
Yeah, it uses the username I have on this computer and it does not identify me as the database user.

[2017-10-23 22:37] karacasoft commented on #83
Review completed. Closing...

[2017-10-23 22:37] #83 closed, assigned to smddzcy, yfenes

[2017-10-23 22:37] smddzcy commented on #69
@triforce930 It looks perfect... 😅  I also updated the frontend tasks and milestones. The only thing left is to assign these to some people.

[2017-10-23 22:46] karacasoft commented on #69
Didn't I have already done that? :V

[2017-10-24 19:43] murat0431 commented on #85
Yeah we should set the postresql manually. I should read here instead of using setup.sh :(

[2017-10-24 20:21] karacasoft commented on #85
https://www.digitalocean.com/community/tutorials/how-to-use-postgresql-with-your-django-application-on-ubuntu-14-04

This guide is pretty good. Follow after "Create a Database and Database User" title. Set username to bounswe2017group5 and set password 1234.

After doing all of this, run this command too, to make the tests work:

`ALTER USER bounswe2017group5 CREATEDB;`

[2017-10-25 07:39] #77 closed, assigned to esra-aydemir

[2017-10-25 07:42] smddzcy commented on #85
I agree that it's a very opinionated script 😅 You should be running a UNIX-based system with Postgres installed and the basic `postgres` user already set up, otherwise it'll fail.

[2017-10-25 07:42] smddzcy commented on #82
@iremUlutas Any progress?

[2017-10-25 07:43] smddzcy commented on #81
@ThoAppelsin Any progress?

[2017-10-25 07:43] smddzcy commented on #80
@norubai Any progress?

[2017-10-25 10:37] karacasoft commented on #56
A month is much more than required time for a simple wiki page. I have just created a filler page for you @norubai :|

With all pages created. This issue, (finally) can be closed.

[2017-10-25 10:37] #56 closed, assigned to ThoAppelsin, esra-aydemir, smddzcy, Morgazipa, oal55

[2017-10-25 12:02] karacasoft opened #88 "Research about wikidata queries"
## About

* **Related Issues:** #75

We have to research wikidata queries, learn about how to use them for semantic tagging in our project.

### Task requirements
* Research wikidata, learn how we can get item information
* Prepare a very small document about how to use wikidata queries, and what is useful for our project
* Publish the document on Slack

This task has 6 hours of volunteer time. Af

[2017-10-25 13:06] karacasoft opened #89 "Interestr logo missing on homepage.html"
## About

We should put the interestr logo on the front page. The logo can be redesigned in the process.

### Requirements
* Design a logo for the project
* Put the logo on the page, index.html

Volunteer timeout: 4 hours

[2017-10-25 18:33] Morgazipa commented on #65
Although I updated the use case diagram to include new requirements,  I hesitated to close this issue because I was not very satistified with the result .  Afterwards I completely forgot about it.  Feel free to close it.

[2017-10-25 19:21] Morgazipa commented on #88
I would like to help.

[2017-10-25 20:01] smddzcy commented on #89
I can do the design 🎨

[2017-10-25 20:36] smddzcy commented on #89
Designed 3 logos, we should pick one:

### 1
`I` can be used as the small logo
![logo](https://user-images.githubusercontent.com/13895224/32021342-ce4924ae-b9db-11e7-9e82-bc1ccf40ff1d.png)

### 2
![logo2](https://user-images.githubusercontent.com/13895224/32021778-12bf0058-b9dd-11e7-8b4f-4b9fd88c9f0e.png)

### 3
`I` part is the small logo
![logo3](https://user-images.githubusercontent.com/13895224

[2017-10-25 21:18] smddzcy commented on #89
@triforce930 Probably no one will look here and contribute to our discussion, so I use my _super voting power_ as the designer and pick the logo 1 immediately 🚀  Created the PR, please review.

[2017-10-26 00:00] karacasoft commented on #89
We have accidentally made you a designer lol
I think logo 1 is the best here, too. Other ones are just hard to read. Not simple enough, in other words. But I'll do the review tomorrow with a fresh mind.

[2017-10-26 00:02] karacasoft commented on #88
All right, task assigned to you then :+1: Here's a good starting point:
https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/Wikidata_Query_Help

[2017-10-26 12:52] karacasoft commented on #85
@smddzcy and I will help people who cannot setup postgresql for their local environment. You may let me know whenever you need help about this. Case closed...

[2017-10-26 12:52] #85 closed, assigned to karacasoft

[2017-10-26 13:03] karacasoft commented on #65
Is customizable templates added to the diagram? I could not check it.

[2017-10-26 13:06] karacasoft commented on #69
Maybe it's best if we do the assignments as we go and don't waste time assigning far away tasks to some people who we don't even know if he/she wants the task or not.

[2017-10-27 07:33] Morgazipa commented on #65
I now corrected the link to the image, it should be visible now.

[2017-10-27 21:03] smddzcy commented on #89
We can close this one, there is only a small fix left on the PR and we've designed the logo already 👨‍🎨

[2017-10-27 21:03] #89 closed, assigned to smddzcy

[2017-10-27 21:10] smddzcy opened #93 "Prepare the presentation for demo day"
## About

- **Related Issues**: #75

We must prepare a **collaborative presentation** for our demo day until Wednesday, **1st of November**. Everyone should prepare the pages they'll present and non-presenters should help with the general content & reviews & fixes.

## To-do

- [X] Choose the tool for creating the presentation.
- [x] Choose a presentation template.
- [x] Fill in content. Make sure

[2017-10-27 21:11] smddzcy commented on #93
I think Google Slides is the perfect tool for a collaborative presentation, so the tool is chosen (if no one complains 🤐): https://docs.google.com/presentation/u/0/

[2017-10-27 21:23] smddzcy commented on #79
@triforce930 `status: review`? I can't see the PR, is this done?

[2017-10-27 21:23] smddzcy commented on #69
@triforce930 Agreed, closing since it's done.

[2017-10-27 21:23] #69 closed, assigned to karacasoft, smddzcy

[2017-10-28 04:08] oal55 commented on #80
Yeah It seems to be done and working.

[2017-10-28 04:13] oal55 opened #94 "install pillow"
## Pillow

Migrate.py printed out something along the lines 'you need to download pillow if you want to support image fields.' and I didn't question its integrity. Now we support image fields.

After you activate your environment, you can install pillow with
``` pip install pillow```

[2017-10-28 11:20] karacasoft commented on #94
True, image fields required that stuff. Completely forgot it. We can add it to the installation documentation

[2017-10-28 11:21] karacasoft commented on #79
It was not reviewed for a long time, so I used my _super administrative powers_ and merged the PR by myself.

This can be closed.

[2017-10-28 11:21] #79 closed, assigned to karacasoft

[2017-10-28 11:23] karacasoft commented on #80
Do **not** directly push to the main branches. Branch out from an existing branch and push to that branch instead. We should be able to review your changes, and request changes if we need. For this time I'll consider this completed.

[2017-10-28 12:08] karacasoft commented on #94
It seems that you have also installed another dependency named django_extensions. You should have let us know about this. :| I have added it to the requirements.txt for the time being.

[2017-10-28 12:24] karacasoft opened #96 "Group management view needs to be rewritten using django-rest-framework"
## About

* **Other Related Links:**
* https://github.com/bounswe/bounswe2017group5/commit/2287f1e4812db4c6fdc31c1bb3f5866bca66938d#diff-a224ae36892ad9b8a65a454b5c43cbf0

The view in the given file is not written using django-rest-framework APIViews. This has to be completely rewritten using django-rest-framework later. Please check out: http://www.django-rest-framework.org/api-guide/routers/

[2017-10-28 12:39] karacasoft opened #97 "API documentation"
## About

This is something we have to consider at some point.

Check this out, and let me know what you all think:
http://www.django-rest-framework.org/topics/documenting-your-api/

[2017-10-28 12:46] #80 closed, assigned to oal55

[2017-10-28 12:46] #81 closed, assigned to ThoAppelsin

[2017-10-28 12:46] #82 closed, assigned to iremUlutas

[2017-10-28 12:51] karacasoft commented on #65
Nice, the text font is hard to read (kind of), but looks cool. @smddzcy Should we accept this?

[2017-10-28 12:54] karacasoft opened #98 "One of the tests written for Posts fails for no reason"
## About

* **Related Issues:** #91

When I run the tests the test named `test_existing_post` fails. But I can see that posts return fine when I run the API itself.

[2017-10-28 13:20] karacasoft opened #99 "The first version Groups Page"
## About

We shall start integrating frontend with backend, at some point in the very near future. This task includes designing a groups page:
* Only authorized(logged in) users shall be able to enter the page.
* The page shall list the groups that are in the system.
* The page should also have a link to "create a group" page.

[2017-10-28 13:22] karacasoft opened #100 "User login-register"
## About

This is not required for the milestone, but I think we have time to do this. Requirements:
* Users shall be able to login through a page with no restrictions.
* Users shall be able to register through a page with no restrictions.
(We will add predesigned pages to these, later)

[2017-10-28 13:26] murat0431 commented on #99
Actually i created a new branch(templates). I will first change dummy variables with the real ones.After that i might need some help about authentication process. Also our template.html has login and signup link in the navigation bar.How can we use this as a base.html? I guess we should change it little bit.

[2017-10-28 13:26] karacasoft opened #101 "'Create a group' page."
## About

We have to build a page to create groups.
Requirements:
* A page that creates a group.
* The page should be the page that was designed for frontend before.

Volunteer timeout: 12 hours

[2017-10-28 13:34] karacasoft commented on #99
Authentication process is someone else's job. You may want to use this if you want to let only the authorized users in: https://docs.djangoproject.com/en/1.11/topics/auth/default/#the-login-required-decorator

Yes, we may want to remove those links when a user logs in. There are multiple ways to do this. You can fix that, or leave it there. We can resolve the issues once I get to review your chang

[2017-10-28 13:40] murat0431 commented on #99
Okay let me read this link. When do you want me to push this page. Today i am extremely busy. Is tomorrow evening alright? I will send the page so that you can review it. After your review i can fix the bugs.

[2017-10-28 13:48] karacasoft opened #102 "Group detail page"
## About

We have to get a groups page ready on the next milestone. Requirements:
* The page shall display properties of a group.
* This page shall also display the posts sent to that group.
* The page should also allow a logged in user to send a post to that group.

Posts will only have a text field in them, for the time being.

Volunteer timeout: 12 hours

[2017-10-28 13:49] karacasoft commented on #99
As soon as possible :smile:

[2017-10-28 14:15] karacasoft opened #103 "Start building Android"
## About

The API is ready to be used now. We may start building Android at once.

Requirements:
* An android application project shall be initiated on the repository.
* The application shall be able to show the groups and their details.

Optional:
* Add login/register
* Add group creation
* Add post creation

[2017-10-28 14:18] karacasoft opened #104 "Project Deployment"
## About

We should deploy the project on Amazon AWS services as soon as possible, so that the Android development can start.

[2017-10-28 14:19] murat0431 commented on #99
@triforce930 how can i learn number of groups that has been created? I need it to create a for loop

[2017-10-28 16:10] oal55 commented on #98
The asserted JSON is missing its data_template field. I think it was implemented after the test case was written.

[2017-10-28 16:18] oal55 commented on #96
I'll get on it

[2017-10-28 17:43] karacasoft commented on #104
Project is now deployed on an EC2 instance. Address will be given under private communication channels for security

[2017-10-28 17:43] #104 closed, assigned to karacasoft

[2017-10-28 17:47] karacasoft commented on #98
Yup, that's the reason. It's probably the best if we just test specific fields like the post's owner or the content of the post. Not the whole content of the response

[2017-10-28 18:07] gauravrai1 commented on #103
In which directory should I start?

[2017-10-28 18:21] karacasoft commented on #103
Well, this is a course project. I don't know what professor @uskudarli thinks about getting help from outside of our group.

To answer the question, we might create a directory named `android` and put the project there.

[2017-10-29 11:19] smddzcy opened #106 "Protect the master branch"
## About

We should protect the `master` branch, such that:
1. We shouldn't allow direct pushes,
2. We shouldn't allow merging PRs without reviews.

[2017-10-29 11:20] smddzcy commented on #106
`master` branch is protected now. I'll also set up continuous integration and Slack notifications next week 🚀

[2017-10-29 11:20] #106 closed, assigned to smddzcy

[2017-10-29 11:34] smddzcy commented on #99
@murat0431

You can split our template into 3 parts; `base.html`, `navbar_guest.html` and `navbar_user.html` (this you can find in some page like `groups.html`). Then, we can have 2 base pages; `base_guest.html` and `base_user.html`, with the correct navbar and other potential user/guest specific things.

[2017-10-30 10:09] #100 closed, assigned to yfenes

[2017-10-30 11:00] karacasoft commented on #94
Requirements can be installed via requirements.txt file in the api directory.

`pip install -r requirements.txt`

We no longer need to keep track of requirements

[2017-10-30 11:00] #94 closed, assigned to nobody

[2017-10-30 21:06] smddzcy commented on #97
We should document each method as we implement otherwise it'll be too hard later on. The easiest way to achieve this: **Not accepting PRs that has undocumented - untested code**.

[2017-10-31 14:41] karacasoft opened #108 "Milestone report"
## About

Milestone report should be ready after the presentation.

[2017-10-31 15:45] esra-aydemir commented on #101
Commited to api branch.

[2017-10-31 15:45] #101 closed, assigned to esra-aydemir

[2017-10-31 19:12] esra-aydemir commented on #102
It is committed to api branch.

[2017-10-31 19:12] #102 closed, assigned to karacasoft

[2017-10-31 22:05] #99 closed, assigned to murat0431

[2017-10-31 22:06] karacasoft commented on #97
With #109, there's no need for this to left open, I guess...

[2017-10-31 22:06] #97 closed, assigned to nobody

[2017-11-01 07:46] smddzcy opened #110 "Register not working"
## About

Register functionality is not working on our current deployed version.

## Visuals

![screen shot 2017-11-01 at 10 44 06](https://user-images.githubusercontent.com/13895224/32264835-9aca0844-bef1-11e7-8e5a-2133c604bc9d.png)

## Environment
macOS 10.13, Safari 11

## Traceback
http://dpaste.com/3CQGVR2
[code]

## Steps to Reproduce

- Open our register page (http://35.177.77.44/register/)

[2017-11-01 07:53] smddzcy opened #111 "Design is broken in production"
## About

Our front-end design in production is completely different than what I've designed initially. We should be more careful when porting the implemented HTML files to Django templates and _not dramatically change it_.

## Visuals

### Signup page
(Note that the heading is also wrong - it says `Login`)
![screen shot 2017-11-01 at 10 42 57](https://user-images.githubusercontent.com/13895224/32

[2017-11-01 07:54] smddzcy commented on #111
It's just a copy paste, I have no idea how things went this wrong 😄 Please be more careful when approving PRs as well.

[2017-11-01 09:31] iremUlutas commented on #98
totally agree. working on it.

[2017-11-01 09:33] iremUlutas commented on #93
starting a slack channel to make the presentation related communication easier.

[2017-11-01 10:51] karacasoft commented on #110
It works for me, what values have you entered into the form?

[2017-11-01 14:53] iremUlutas commented on #110
Worked fine for me too, only after following the guideline for picking username and password.

[2017-11-01 16:37] iremUlutas commented on #93
@smddzcy The link you shared takes me to the generic Google Slides site. If this was meant to be the link to our presentation, please update it.

[2017-11-01 17:25] karacasoft commented on #110
I can see why it gives that kind of error. Register, checks out the given form and returns a user IF it is valid. If it's not, the system tries to check out a user variable that has never existed.

[2017-11-01 17:29] karacasoft commented on #111
We may have let Django do the form generation thing. I'll fix it after the milestone, and after that, please do not EVER give me any job that is not related to Android.

[2017-11-01 17:32] smddzcy commented on #111
It's better if @yfenes can fix this, he's the one who wrote the login & register backend. I assigned it to you because I remembered you were the reviewer of this feature but I didn't have the time to check who actually implemented it 😄

[2017-11-01 17:43] karacasoft commented on #111
We never requested front-end from him, he was pretty busy at that moment and his code was actually ok. So I accepted his changes

[2017-11-01 22:13] Morgazipa commented on #111
I tried the fix the issue, see my pull request.

[2017-11-01 22:15] Morgazipa commented on #88
[wikidata.txt](https://github.com/bounswe/bounswe2017group5/files/1435862/wikidata.txt)
Here you can find the report.

[2017-11-01 22:15] #88 closed, assigned to Morgazipa

[2017-11-01 22:37] #111 closed, assigned to yfenes

[2017-11-01 22:37] #110 closed, assigned to yfenes

[2017-11-02 18:00] #103 closed, assigned to karacasoft

[2017-11-02 20:48] smddzcy commented on #108
What is our current status on this one?
@iremUlutas @norubai Will you be able to finish it tomorrow before ~4 pm? I guess the actual deadline is 5 pm but we'll probably need 1 hour for final touches & reviews.

[2017-11-02 21:40] #93 closed, assigned to karacasoft, smddzcy, iremUlutas

[2017-11-03 14:15] esra-aydemir commented on #108
The milestone report is written and merged in github.

[2017-11-03 14:15] #108 closed, assigned to iremUlutas, oal55

[2017-11-08 17:52] iremUlutas opened #116 "Unofficial Milestone should be set"
## About

We need to determine an unofficial milestone and requirements for it before the second milestone/presentation which is on 30.11.2017.

## To-do

- [x] Set the milestone date.
- [x] Set the requirements until this date.

[2017-11-09 10:12] smddzcy opened #117 "Implement the signup endpoint in our API"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Meeting-18-07.11.2017

As discussed in our last meeting on 7th of November, we should implement the sign up endpoint in our API.

[2017-11-09 10:13] smddzcy commented on #117
@triforce930 AFAIK this will be implemented for our Android application, right? Because we already have a working sign up page, so I'm assuming (I haven't checked yet) we have sign up implemented for our frontend 😄

[2017-11-09 10:17] smddzcy opened #118 "Implement pagination on the backend"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Meeting-18-07.11.2017

We should return paginated results from our API in our listing endpoints.

[2017-11-09 10:20] smddzcy opened #119 "Create importance labels"
## About

We should create importance labels to label our issues/PRs according to their importance and have the most important tasks always on the front.

[2017-11-09 10:27] smddzcy commented on #119
Done, our new labels:

`importance: trivial`: `#f9d0c4`
`importance: minor`: `#e99695`
`importance: major`: `#D84341`
`importance: urgent`: `#b60205`

@triforce930 please check their color. We may color them differently.

[2017-11-09 10:42] smddzcy opened #120 "Implement the backend of data templates"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Meeting-18-07.11.2017

We should implement CRUD endpoints for data templates.

## To-do

- [x] Create endpoint.
- [x] Read endpoint. (i.e. get a single data template and list of data templates)
- [x] Update endpoint.
- [x] Delete endpoint.

[2017-11-09 10:51] smddzcy commented on #116
It'd be better if we create these milestones on GitHub as well. See: https://github.com/bounswe/bounswe2017group5/milestones

[2017-11-09 10:51] smddzcy commented on #98
@iremUlutas Is this still failing?

[2017-11-09 10:52] #75 closed, assigned to nobody

[2017-11-09 11:44] karacasoft commented on #119
I liked the colors, no change required.

[2017-11-09 11:46] karacasoft commented on #117
Yes. Indeed, we need this for the application.

[2017-11-10 14:41] #116 closed, assigned to iremUlutas

[2017-11-10 19:40] karacasoft commented on #119
Closing this...

[2017-11-10 19:40] #119 closed, assigned to karacasoft

[2017-11-14 13:23] #120 closed, assigned to smddzcy

[2017-11-14 16:56] ThoAppelsin opened #124 "Join/leave group functionality on web-frontend"
## About

Join/leave group functionality is to be integrated to the web-frontend of our project, as per [18th meeting notes](../wiki/Meeting-18-07.11.2017).

## To-do

- [x] Extend the `templates/views.py` to give us the required information.
- [x] Query the status of the user with respect to the group, i.e. joined or not.
- [x] Make a request to the backend API to join or leave the group.
- [x] C

[2017-11-14 17:22] ThoAppelsin opened #125 "Member count on groups are wrong"
## About

Member counts on groups are wrong. We weren't able to see this before, because we weren't able to join to groups.

[2017-11-14 17:25] ThoAppelsin commented on #125
Easily fixed this by replacing the `group.members` tags with `group.size` tags, both on `groups.html` and the `group-details.html`, on the web-frontend branch.

[2017-11-14 17:25] #125 closed, assigned to ThoAppelsin

[2017-11-14 17:30] ThoAppelsin opened #126 "Prepare a News Feed page on the web frontend"
## About

We have to prepare a News Feed page for our web-frontend, as per [18th meeting notes](../wiki/Meeting-18-07.11.2017).

## To-do

- [x] Create a `news.html` template and a class in `views.py`, then an association in `urls.py`.
- [x] Design a news feed page for the logged-in user to land.
- [ ] Implement its views.
- [ ] Implement its templates.
- [x] Add news feed page to the navigation d

[2017-11-14 18:39] ThoAppelsin commented on #124
I have completed it. Very much thanks to Mahmut for his helps on answering my questions.

We also have made it so that the button has a different color for Join and Leave Group.

[2017-11-14 18:39] #124 closed, assigned to ThoAppelsin, yfenes

[2017-11-14 19:18] ThoAppelsin commented on #126
I don't really know how the news feed page should be. I have created a template page for it, made a basic view, but couldn't proceed.

[2017-11-14 19:47] ThoAppelsin opened #127 "Prepare web-frontend elements for template creation, viewing, usage and posting"
## About

As per [19th meeting notes](../wiki/Meeting-19--14.11.2017), we have to integrate the template functionalities from backend to the web-frontend.

We have agreed to give ourselves one week to implement it. However, it would be really good if we were to do it until 13:00 this Thursday (16 November), as promised to our customer. It isn't likely to happen, since we have only ~38 hours left,

[2017-11-15 10:39] ThoAppelsin opened #130 "Member count does not refresh as the user joins/leaves group, until the page is refreshed"
## About

Member count does not refresh as the user joins/leaves group, until the page is refreshed. It should rather change and get updated as the user joins/leaves for a more pleasant view.

[2017-11-16 09:44] #118 closed, assigned to murat0431

[2017-11-16 10:03] karacasoft opened #133 "Group creation should be allowed with empty members list"
## About

Group member list should not be edited through API. Adding 'read_only' to the serializer field should work.

## Visuals

![image](https://user-images.githubusercontent.com/5247569/32885341-48697e34-cace-11e7-8670-acef386a655c.png)

[2017-11-18 10:41] Morgazipa opened #136 "No error message is shown after unsuccessful signup"
## About

As things stand, no error message is shown after an unsuccessful registering attempt, which means that the users cannot know why it failed. This is because we don't render the error messages with the form.  Also the error message shown for login is not very aesthetic.
## Visuals
Register page after an unsuccessful attempt:

![screenshot-2017-11-18 login - interestr](https://user-images.g

[2017-11-18 18:26] Morgazipa commented on #65
This issue is open for a very long time. I have changed the font upon your request (@triforce930 ). Is it better right now?

[2017-11-18 18:30] Morgazipa commented on #133
Perhaps the title is a bit misleading. Also, should the same apply for moderators field?

[2017-11-18 18:34] karacasoft commented on #65
lol. This issue has became the bane of your existence...

But the changes are pretty good! So it can be closed now. Thank you so much. :+1:

[2017-11-18 18:34] #65 closed, assigned to Morgazipa

[2017-11-18 18:36] karacasoft commented on #133
Changed the title [x] :+1:

Moderators field came after I found the issue. Yes, the same should be applied to the moderators field.

[2017-11-19 15:42] smddzcy commented on #127
I'll implement these on Wednesday evening if no one else (_current assignees_) does it by then.

[2017-11-19 15:44] smddzcy commented on #117
@iremUlutas any progress?

[2017-11-19 23:00] ThoAppelsin commented on #127
I have done many of these by writing several lines of JS code, around 300~400 lines, hardly ever commented. As a summary, a user may do the followings on the `webfrontend_2` branch:

- Create a new template through the "Create a template" modal, inside:
  - Add one of the three template fields, Checkbox, Multiple Selection, or Text Area, via the "+" button,
  - Add as many fields as they want
  -

[2017-11-22 20:44] #133 closed, assigned to oal55

[2017-11-23 14:29] oal55 commented on #96
@smddzcy , @triforce930  Am I closing this :O ?

[2017-11-23 14:34] smddzcy commented on #96
@norubai Sure, if it's fixed 🤓

[2017-11-23 14:35] oal55 commented on #98
As of the last merge @Morgazipa did, we don't have any failing tests in master branch. So maybe we shall close this as well. @smddzcy

[2017-11-23 14:42] #96 closed, assigned to oal55

[2017-11-23 14:48] oal55 opened #142 "Implement profile page"
## About

As briefly discussed after the class today, we should implement CRUD operations of a profile page.

### Things I have in mind:

- UserProfile object will have the following fields;
  * name
  * surname
  * date of birth
  * location
  * interests
- It will have a 1-to-1 relationship with our user object.

Any insights would be much appreciated.

## To-do
- [x] Implement a ProfilePage mod

[2017-11-23 18:32] #98 closed, assigned to iremUlutas

[2017-11-24 14:00] oal55 opened #143 "Implement vote functionality"
## About

As discussed on 23/11/2017 after the class, we need to implement upvote / downvote functionality to posts.

[2017-11-25 09:15] oal55 opened #144 "Close the stale & unnecessary branches"
## About

Hello everyone, maybe we should close the branches we don't use anymore, to keep things neat. We can delete them after they are merged, or when we realize we don't really use them anymore.

More than half of the currently open branches are hundreds of commits away from the master. :smile:

[2017-11-25 11:07] iremUlutas opened #146 "Prepare presentation for Milestone 2"
## About

* **Related Issues:** ...

Prepare a presentation about the improvements of the project since the last milestone.

## To-do
- [x] Clarify what was expected.
- [x] Create a list of improvements.
- [x] Prepare a slide on Google Slides.

[2017-11-25 11:07] iremUlutas opened #147 "Create use-case scenarios with the latest version for milestone presentation"
## About

* **Related Issues:** #146

As the milestone presentation's approaching, we need various use-cases to show off with the latest version of the app.

## To-do
- [x] Generate use case scenarios containing the improvements of the project since the first milestone.
- [x] Create database entities according to the scenarios.
- [ ] Practice the scenario until the presentation at least twice.

[2017-11-25 14:14] Morgazipa opened #148 "Joined groups list does not refresh after joining/leaving a group"
## About

* **Related Issues:** #130

The joined groups list on the left side does not refresh after joining/leaving a group in a group detail page.

## Visuals

Group page after a user has a joined a new group
![screenshot-2017-11-25 create a new group - interestr](https://user-images.githubusercontent.com/25618553/33231286-fca36562-d1fa-11e7-9e7a-5088cb3f7a7b.png)

## To-do

Even though I very m

[2017-11-27 17:03] #127 closed, assigned to ThoAppelsin, yfenes

[2017-11-27 17:15] smddzcy commented on #146
What is expected:

- [x] Template create / use (use: #149, create: #139)
- [x] Semantic tagging (currently very limited, tags can be added only on group creation, see: #151)
- [x] User profile (seems to be working #142 )
- [x] Search group / user backend (text based, by group name and user name, #140 )
- [x] Search group / user frontend (#158)
- [ ] Content recommendation (backend: #141)
- [x] Com

[2017-11-27 19:31] esra-aydemir commented on #57
We need to update project plan before milestone 2. Any volunteers?

[2017-11-28 18:45] Morgazipa opened #150 "Registering with an already used email address should not be allowed"
## About

As things stand, a new user can register with an already used email address. Considering that we allow sign in with email as an option, this should really be forbidden.

## Steps to reproduce the issue

1. First try to register with username "xxx" and email "xxx@example.com"
2. Log out
3. Try to register with  username "xxx2" and email "xxx@example.com"

Instead of being correctly confro

[2017-11-28 19:55] esra-aydemir commented on #57
Apparently we do not plan to update the plan but rather than that explaining our work to customer depending on the available plan. It is important that all teams follow what is done and what is in the plan. Check below if you feel like you and your team can present your teams work by comparing with the project plan.

- [ ] Android team @triforce930
- [x] Backend team @smddzcy
- [ ] Frontend team @

[2017-11-28 19:57] murat0431 commented on #150
Yes you are right. We should not allow this to happen. Tonight I will try to find a solution for the issue.

[2017-11-29 11:12] murat0431 commented on #150
@Morgazipa  I found a solution and I changed the code in the branch "murat_test" Can you check my latest commit about unique email and let me know if there is a problem about it? Also test it with same mail :)

[2017-11-29 14:44] murat0431 opened #152 "'Sign Up Now!' link does not work properly"
## About

The title is self-explanatory. After clicking the 'Sign Up Now!' link in the main page user is redirect to 'create a group page' instead of Registration page. If everybody agrees with me about the problem I am going to fix it now

## To-do

- [x] Change index.html

[2017-11-29 16:13] Morgazipa commented on #150
Since the branch was merged, I am closing this.(This issue is no longer relevant.)

[2017-11-29 16:13] #150 closed, assigned to nobody

[2017-11-29 20:55] yfenes commented on #148
It's done.

[2017-11-29 20:55] #148 closed, assigned to nobody

[2017-11-29 21:45] #117 closed, assigned to iremUlutas

[2017-11-29 23:02] Morgazipa commented on #152
Closing this as it is fixed now.

[2017-11-29 23:02] #152 closed, assigned to murat0431

[2017-11-30 00:05] smddzcy commented on #146
Backend slides are (almost) done 👌  I need rest of the features (recommendations, votes, profile) to be merged & deployed.

[2017-11-30 01:31] oal55 commented on #146
Profile page is done, waiting for PR review.

[2017-11-30 01:35] oal55 opened #160 "Some Tests are not compiling"
## About

Following tests aren't compiling let alone failing
- Comment Tests
  * test_create_comment
  * test_delete_comment
  * test_existing_comment
  * test_non_existing_comment
- Post Tests
  * test_existing_post
  * test_non_existing_post

One reason could be, post models have no such field as 'text'. But changing that alone doesn't fix the problems.

[2017-11-30 08:50] #142 closed, assigned to oal55

[2017-11-30 18:37] #146 closed, assigned to iremUlutas

[2017-11-30 18:37] #147 closed, assigned to iremUlutas

[2017-11-30 21:03] smddzcy commented on #57
We should update the plan at some point. @bounswe/bounswe2017group5 any volunteers?

[2017-11-30 21:04] smddzcy commented on #143
Closed with #162

[2017-11-30 21:04] #143 closed, assigned to nobody

[2017-11-30 21:11] smddzcy commented on #144
All custom branches other than `android`, `release` and `v1` are deleted.

[2017-11-30 21:11] #144 closed, assigned to nobody

[2017-12-01 14:54] ThoAppelsin opened #163 "Multiple comment labels underneath posts"
## About

Out of rush, we now have multiple "comment" labels underneath posts;
- one of which is dysfunctional,
- other one is poorly styled, and is put on a different row than the vote-caster.

The comments counter also is not properly pluralized (i.e. reads "1 comment**s**").

[2017-12-01 14:57] ThoAppelsin opened #164 "Vote-caster updates the votes count poorly"
## About

Vote-caster updates the votes count to 1 or -1, when the post is voted up or down, respectively. Two things to note, which may be helpful in finding the reason:
- This is purely visual, and the counter shows the proper value after a page refresh.
- This only happens if the user is voting that post for the first time. For this reason, it can be seen only if the user votes a post that has

[2017-12-01 19:41] Morgazipa opened #166 "There are no tests for frontend"
## About

Currently our tests only cover the backend part of our project. Given that lately we experienced a few
situations where a change at some place broke something somewhere else, it might be a good idea to write unit tests also for the frontend using a framework like Selenium.

[2017-12-02 12:04] smddzcy commented on #166
This seems pretty infeasible since we can't even _implement_ all the required features, with 0 tests. I'm labelling it with `waiting`. If we can implement the required features for our last milestone, then we can consider this one.

---

Small note: Selenium tests are usually called _end-to-end acceptance tests_, because they are different from unit tests.

[2017-12-02 12:34] Morgazipa commented on #166
Thanks for the correction. I am of course not asking for frontend tests that cover everything, but I think for checking stuff like authentication/permissions having some tests would make some sense. I agree that writing tests might slow us down considerably, but manually testing the required features was not also a very pleasant experience last time.  Maybe a middle ground can be found.

[2017-12-03 10:33] ThoAppelsin commented on #163
Fixed this issue, check #165.

[2017-12-03 10:33] #163 closed, assigned to ThoAppelsin

[2017-12-03 10:33] ThoAppelsin commented on #164
Fixed this issue, check #165.

[2017-12-03 10:33] #164 closed, assigned to ThoAppelsin

[2017-12-03 10:53] ThoAppelsin opened #167 "HTML select object support on template fields"
## About

We cannot prepare template fields that contains HTML `<select>` inputs, the support is just not there, yet. We need them for the dropdown input that would be very useful to our users while preparing templates.

## To-do

- [x] Design an extension to [JSON structure of data template fields](../wiki/Documentation-for-the-JSON-Structure-of-Data-Template-Fields-and-Posts), to support the `<o

[2017-12-03 10:58] ThoAppelsin commented on #167
I think we can again transform the `<select>` into a `<textarea>` this time, and then let the user input the options they desire into lines of text.

Transforming the `<select>` into `<textarea>` would take its `<option>`s' texts and place them into the `<textarea>` separated by new lines. Transforming it back would generate `<option>`s with the text on those lines.

Not the most pleasant way to d

[2017-12-03 11:13] ThoAppelsin opened #168 "Introduce complex template fields"
## About

The web front-end code is very suitable for extending template fields to include further inputs. We should, and easily can come up with many more complex template fields than the simple, single-input fields.

Currently, the only complex field is the `multisel` field. We could, for example, prepare one with two `text` type input fields next to each other, and call it `doubletext`, which c

[2017-12-03 11:15] ThoAppelsin commented on #168
I have changed the template field registration process, and it hopefully is simpler now. It is now on the `feature/frontend-specialized-template-fields` branch, which is the branch we will be using for this and the prerequisite issue.

[2017-12-03 11:40] karacasoft commented on #168
Anything you do in backend/frontend of data templates, has to be implemented in the Android, too. So, I'm hoping you're adding these changes to the documentation of template fields as well.

[2017-12-03 12:01] ThoAppelsin commented on #168
Not everything I do in the frontend of data templates affects the backend and/or Android. The change I have mentioned above is behind an encapsulation, it barely even affects the frontend itself.

You have a point. Not with this issue, however, but the related issue: #167

The support for the `<select>` input will likely need some further fields on the `input` object. This extension was mentioned

[2017-12-03 12:09] ThoAppelsin commented on #167
Please, feel free to check the JSON schema in the documentation, and come up with the ideas to extend it to support the select field with flexible amount of ordered options.

**Idea 1:** The idea that comes to my mind is to add an _array_ field called `"options"` inside the __input__ objects. For an __input__ object with `"type"` as `"select"`, the `"options"` array would contain simple _strings_,

[2017-12-03 12:34] karacasoft commented on #168
I said, whatever you add to the data templates, we have to add them to the Android project, too. If you support select fields on frontend but not on Android, it will definitely be a problem.

I think the overcomplexity of the current structure of the data template schemas disturb me. So I'll open a separate issue for this.

[2017-12-03 12:43] karacasoft opened #169 "Data template schema's are too complex for this simple application"
## About

Here's what we need to do:
- Display some form inputs in a given order.
- Display a set of input fields according to a given type name. (text field for short text, text area for long text, ...)

Defining the type of an entry and a label for that is simple enough. Why do we ever have to define a set of input fields that should be generated? They should be known by the underlying system. I

[2017-12-03 12:53] smddzcy commented on #168
I wouldn't say this is a **major** importance for us, but we can do it if we still have time after implementing our last milestone requirements.

[2017-12-03 13:04] ThoAppelsin commented on #168
Our customer would be very pleased if we were to implement a feature she was looking for during our presentation last week. Implementing this would indicate that we were listening their feedback, and have taken them seriously.

It is very easy to implement, and is like x2 bonus lying right in front of us. I don't think it is a feature that we can leave out in the end-product, either. The functiona

[2017-12-03 15:26] karacasoft commented on #168
Our customer would have a complete product, instead of some fancy features. Of course, adding more features are bonus, but without completing the product itself, they're useless.

Once again, you're just talking about what YOU are going to implement. But, whatever you make, should be also implemented on Android. Dropdown menus(Spinners, as they call) on Android requires an Adapter implementation,

[2017-12-03 15:49] smddzcy commented on #168
Complete product with basic functionality (i.e. _an MVP_) > incomplete product with sophisticated features. I think we should postpone this and first work on privacy options, moderative features, annotations and so on.

[2017-12-03 16:02] ThoAppelsin commented on #168
You should define what you consider as "complete", because I do not consider a product complete when it lacks the features its customer wants.

Our customer specifically mentioned this as a feedback during the demo. I truly believe that implementation of this is a step towards making our product complete.

[2017-12-03 16:12] smddzcy commented on #168
Incomplete = the product can't provide the basic functionality. _Complex data templates_ is not a part of the basic functionality of our product.

Prioritization is the key to product management, and this is very poor prioritization. Please try to understand what we're saying and defend your case from an objective point-of-view 😄 If you still can't agree with us, we can use a good method of Scrum

[2017-12-03 20:11] ThoAppelsin commented on #168
We can do that, I am in, let's do a vote. Here are my arguments:

- Given that this is a very small and easy task, I believe this is a perfect opportunity to prove ourselves to our customer that we are listening to their feedback, and not taking our decisions regardless of what they are telling us.
- It won't take that so long for us to do it. It won't be taking away the _valuable_ time we would i

[2017-12-03 20:19] smddzcy commented on #168
Taking feedback from your customer(s) and iterating your product is perfectly fine, as long as you prioritize what to do next. I'm just saying improving a feature without having a product with a complete set of basic features is poor product management. I think the aim of the course is to learn how to work as a team, work with a customer, plan & implement a software and so on; not to do everything

[2017-12-03 20:27] smddzcy commented on #167
Adding an `options` field to `input` sounds OK 👍
@triforce930 wdyt, would it be OK for the Android part as well?

[2017-12-03 20:38] ThoAppelsin commented on #169
The comprehensiveness of the schema is not there to allow users to produce fields with custom inputs on their own. In fact, they can't and they never will be able to. We define and offer them the types of fields they can use, and they can either:

a) populate the inputs for the specific types of fields such as the `multisel`,
b) edit their legend,
c) or, if available, edit the labels of the inputs

[2017-12-03 20:39] karacasoft commented on #167
I'm on the side of completely removing the `inputs` array. Why don't we add `options` array directly to the upper level of the structure?

Example:
[code]

If this is not ok, then, yes, adding it to the input is OK.

[2017-12-03 20:57] ThoAppelsin commented on #167
That is not okay, unless I miss something. How would you, say, represent the field of number/select input combination that will sooner or later is expected to be on our product?

[2017-12-03 20:59] karacasoft commented on #169
Then it is there to confuse us. And maybe probably there for the `multisel` field.

With current scheme I have to know what I have to generate for each field. (It's not written on the documentation). If somehow, my code gets broken and I generate wrong fields, your code will never know the difference and accept it.

I certainly agree with that. But earlier we do it, we can manage our code better.

[2017-12-03 21:02] karacasoft commented on #167
Number/select input combination? A number input and a select input? How is this kind of an input will ever be expected? If you talk about currency, we can do something like this:

[code]

[2017-12-03 21:20] ThoAppelsin commented on #167
Then how would you make a field for time input with time-zone selection?

[2017-12-03 21:30] smddzcy commented on #167
@ThoAppelsin `{ "type" : "time-with-timezone", "legend" : "Time of sth" }` 😄  Both are fine, but what we choose depends on our productization. Mahmut's way simplifies the app, but it limits the use cases. Your way makes the app complex, but it is more flexible. I'd choose whatever is simpler for us, we don't have enough muscle power to implement complex things.

[2017-12-03 21:30] karacasoft commented on #167
There's no need for time-zone selection. Everyone should be able to enter time with their time-zone information. For other time-zones, the time should be converted to that time-zone.

If we REEALLY want to do that, we can do something like this:
[code]

[2017-12-03 21:48] ThoAppelsin commented on #167
This really does not seem to simplify it. Instead, makes things complicated. The logic we have to build will increases as new use-cases emerge (and we all know how easy it is for Suzan Uskudarli to come up with those).

On the other hand, what we currently have simply dictates the input types itself. The __inputs__ _array_ contains all the inputs, and each input with the type on its own defines it

[2017-12-03 22:04] karacasoft commented on #167
The thing is, I don't want to generate complex set of inputs, it might have undesirable effects (like inputs may not fit on the screen), or maybe for date time input, I may not want to use a text box, I may want to use the native date picker component of the Android while implementing a date type field.

This is true.

This is wrong. In different platform, there may be ways to build the currency f

[2017-12-03 22:13] karacasoft commented on #169
# Data Template Schema

## Template Field

A template field consists of three base fields. These fields are required and should be included in every single field definition.

Name  | Description | Type
-|-|-
type  | Defines what type of fields will be generated for this field.  | enum
label | Defines the name of the field. This will be the visible label of the field. | string
order | Defines the o

[2017-12-03 22:13] #169 closed, assigned to nobody

[2017-12-03 22:20] ThoAppelsin commented on #167
I am just defending the option, of which I am yet to see any shortcomings, and that I still claim to be superior.

Web front-end also rather uses a date-picker, and not a text box, for the input of type date. It does so, because the type of input is given as `"date"` in the JSON, and not because it is the first input of the field of type `"date-time"` or `"date-time-with-time-zone"` or whatever.

[2017-12-03 22:31] karacasoft commented on #167
I said, we can move on...

Adding `options` to `input` is fine for me

[2017-12-05 15:59] ThoAppelsin opened #173 "JSON structure of data template fields and posts needs to be documented"
## About

* **Other Related Links:** [Documentation for the JSON Structure of Data Template Fields and Posts](../wiki/Documentation-for-the-JSON-Structure-of-Data-Template-Fields-and-Posts)

There already is a documentation for them, but it is not complete. It's completeness is crucial for the parties that utilize the database itself, i.e. the web and android frontends.

This issue had been pointe

[2017-12-05 17:52] ThoAppelsin commented on #173
I have documented the fields. The posts are not documented, for now. @triforce930 said that the current state of the documentation is adequate.

[2017-12-05 18:02] karacasoft commented on #173
Just to confirm, I did reviewed the documentation and it is adequate. Thanks for the hard work :+1: This may be closed.

[2017-12-08 14:48] Morgazipa commented on #130
Since we are reloading the page after join/leave this is no longer an issue.

[2017-12-08 14:48] #130 closed, assigned to ThoAppelsin

[2017-12-11 08:36] smddzcy opened #175 "Web UI for recommendations"
## About

* **Related Issues:** #176
* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

According to our roadmap in our last milestone report, we should implement the web UI for recommendations.

[2017-12-11 08:36] smddzcy commented on #175
Since it's one of the first items in our roadmap, I put major importance to this one.

[2017-12-11 08:37] smddzcy opened #176 "Extending our recommendations with post recommendations"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

According to our roadmap in our last milestone report, we should extend our recommendations with post recommendations.

[2017-12-11 08:38] smddzcy opened #177 "Android UI for recommendations"
## About

* **Related Issues:** #176
* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

According to our roadmap in our last milestone report, we should implement the Android UI for recommendations.

[2017-12-11 08:40] smddzcy opened #178 "Privacy settings for user profiles and posts"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

According to our roadmap in our last milestone report, we should let our users choose which
fields are public/private in their profiles and which of their posts can be publicly seen.

## To-do

- [ ] Backend
- [ ] Web UI
- [ ] Android  UI

[2017-12-11 08:45] smddzcy opened #179 "Group moderation features"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

According to our roadmap in our last milestone report, we should implement group moderation features such as adding a user to a group, warning a user, banning a user from a group, reporting a user and so on.

## To-do

- [ ] Backend
  - [ ] Warning a user
  - [x] Banning a user
  - [ ] Report

[2017-12-11 08:48] smddzcy opened #180 "Implementing backend for advanced search queries"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

We should be able to handle advanced search queries, such as;
- Complex queries on posts, e.g. _“Give me the responses on this group which has
the data template X, where the response to the question Y is greater than Z.”_
- Complex queries on groups and users, e.g. _“Give me the users who joi

[2017-12-11 08:49] smddzcy commented on #180
We should discuss the implementation details for this one.

[2017-12-11 08:53] smddzcy opened #181 "Creating an isolated backend for annotations"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group5/wiki/Milestone-2-Report

We should create an isolated backend for annotations. The API should implement the [Web Annotation Protocol](https://www.w3.org/TR/annotation-protocol/), and ideally, we should create a separate DB for this API as suggested by Suzan Uskudarli many times.

## To-do

- [ ] Create an isolated te

[2017-12-11 08:53] smddzcy commented on #181
@bounswe/bounswe2017group5 Any volunteers for the annotations team?

[2017-12-11 08:57] smddzcy opened #182 "Creating a Firefox plugin for annotations"
## About

* **Related Issues:** #181

We should create a Firefox plugin that lets our users annotate content and see the previous annotations in our application. The plugin should communicate with our annotations backend to get/store the annotations.

## To-do

- [x] Create a separate team for the task
- [x] Implement the basic functionality (seeing and creating annotations) without thinking much

[2017-12-11 08:57] smddzcy commented on #182
This one can wait until we implement the backend for annotations.

[2017-12-11 09:04] ThoAppelsin commented on #175
I'm on a tight schedule. I have an exam tomorrow, and the next day, a deadline for a homework that I probably won't be able to finish entirely.

I will start doing it on Thursday, unless someone else on the frontend team (or anywhere else) thinks that it will be too late then.

[2017-12-11 20:26] Morgazipa commented on #181
I would like to help.

[2017-12-13 11:08] karacasoft commented on #177
I'm working on this :+1:

[2017-12-13 12:56] karacasoft commented on #177
How does this look?

![feed_and_recommendations](https://user-images.githubusercontent.com/5247569/33939449-467c59f8-e01c-11e7-8bef-d2cfe1cd7878.gif)

[2017-12-13 13:54] smddzcy commented on #177
Perfect 👌 Btw we also need the group recommendations UI.

[2017-12-13 21:07] smddzcy commented on #181
@Morgazipa Awesome 👍 Can you please do some research and create a basic roadmap? (e.g. what/how to do, how many people is required etc.)

[2017-12-13 21:08] smddzcy commented on #175
@ThoAppelsin I can look at it tomorrow, I guess. Assigning myself 👍

[2017-12-13 21:09] smddzcy commented on #179
@bounswe/bounswe2017group5 Please assign yourselves to this and other open issues otherwise we'll need to randomly assign people 😄

[2017-12-13 21:11] smddzcy commented on #176
![i-have-no-idea-what-im-doing](https://media.giphy.com/media/rAm0u2k17rM3e/giphy.gif)
, but I'll try to implement it tomorrow 👌

[2017-12-14 02:27] karacasoft commented on #179
You may auto-assign me to anything that is tagged with android :V

[2017-12-14 06:16] oal55 commented on #181
I'd like to help as well.

[2017-12-14 06:39] oal55 commented on #179
I'd like to help this one too, but we need to do a bit of discussion before we start.

[2017-12-14 06:42] oal55 commented on #182
I was reading about Firefox plugins the other day, and created a plugin which can get the selected text and prompt the user for his/her annotation. It's probably not the prettiest looking plugin in the industry, but we can work on that.

[2017-12-14 10:53] smddzcy commented on #182
We can cheat on these resources (thanks to Suzan Uskudarli for pointing these out):
- https://web.hypothes.is/
- https://chrome.google.com/webstore/detail/hypothesis-web-pdf-annota/bjfhmglciegochdpefhhlphglcehbmek?hl=en
- https://github.com/hypothesis/client
- https://github.com/hypothesis/h
- https://github.com/apache/incubator-annotator/wiki/Overview-(WIP)
- https://annotator.apache.org/

[2017-12-16 20:00] Morgazipa commented on #160
This is hopefully fixed by #183.

[2017-12-16 20:00] #160 closed, assigned to nobody

[2017-12-16 22:35] #176 closed, assigned to smddzcy

[2017-12-17 19:10] #175 closed, assigned to smddzcy

[2017-12-18 13:37] ThoAppelsin commented on #167
I have updated the documentation, and finally closing this.

[2017-12-18 13:37] #167 closed, assigned to ThoAppelsin

[2017-12-21 10:40] Morgazipa commented on #180
I was thinking that we only had to support the first type of queries, i.e. template based search.

[2017-12-21 10:42] Morgazipa commented on #182
@norubai Could you please share your work with us?

[2017-12-21 11:11] Morgazipa opened #188 "Group creation without tags does not work."
## About

When creating a new group, an error occurs if no tag is added. Should be easy to fix.

##  Steps to Reproduce

- Login with any user
- Go to groups page by clicking "Groups" in the dropdown on the top right of the page
- Scroll down and click "Create New Group"
- Fill out title and description, leave tags field empty
- Click "Create"
- You should see  the django generated error page: "Ke

[2017-12-22 18:25] esra-aydemir opened #190 "Token authentication does not work on /me endpoint"
## About
As the title suggests.

## Visuals
![a](https://user-images.githubusercontent.com/9717121/34308460-89c3ca86-e75e-11e7-9e1b-bd4ad10eb66e.png)

[2017-12-23 21:00] #188 closed, assigned to Morgazipa

[2017-12-23 22:06] smddzcy commented on #181
So, where are we on this one? We should make some progress as the deadline is approaching :)

[2017-12-24 01:56] ThoAppelsin commented on #182
I don't know much about it's backend part, but I have just found out this:
https://github.com/mdn/webextensions-examples/tree/master/annotate-page

Screenshot:

![screen shot 2017-12-24 at 04 51 02](https://user-images.githubusercontent.com/6666524/34323718-1dd76364-e867-11e7-940f-3242bb8c2791.png)

It utilizes the side-bar of the Firefox browser, displays a text-box there, in which you can write

[2017-12-24 09:38] ThoAppelsin commented on #182
I have time now. I am taking this as my next assignment.

I have prepared a basic Firefox Add-on for my friend yesterday, and I feel somewhat interested in doing this now. If you think that I should better be working on something else, tell me and I will consider doing that instead, but do so sooner than later. If I get too deep into this, I won't want to get away from it until it ends.

[2017-12-24 13:50] smddzcy commented on #182
@ThoAppelsin Cool 😎 Creating an MVP is enough I guess, it doesn't have to be sth sophisticated, so please don't _get too deep_.

[2017-12-24 15:17] Morgazipa commented on #190
At first;  tried to reproduce the issue locally, but could not succeed. However, when trying it with our deployed endpoint 35.177.96.220 I realized that it was the case. Since I currently don't have access to the deployed code, I need help from @triforce930.  Is the solution [here](https://stackoverflow.com/questions/30151833/token-authentication-does-not-work-in-production-on-django-rest-framewor

[2017-12-24 17:00] karacasoft commented on #190
Yes, this is exactly the solution I have used. And it works now. Thanks a lot for the research. This is resolved now,...

[2017-12-24 17:00] #190 closed, assigned to karacasoft, Morgazipa

[2017-12-25 08:46] murat0431 commented on #181
I'd like to help with this as well. Where are we?

[2017-12-25 10:51] smddzcy opened #192 "Preparing a system manual"
## About

As per our final deliverables, we need to provide a system manual with our software that describes the system requirements and installation (i.e. setup). There should be separate sections for the backend, frontend, and Android application.

## To-do

- [x] Manual for backend setup
- [x] Manual for frontend setup (if there is any)
- [x] Manual for Android setup

[2017-12-25 10:57] smddzcy opened #193 "Preparing a user manual"
## About

As per our final deliverables, we need to provide a user manual with our software that instructs how users can use our system.

[2017-12-25 10:59] smddzcy opened #194 "Prepare a README file with deployment instructions"
## About

As per our final deliverables, we should prepare a `README` file that contains instructions on how to deploy and configure our web and Android applications.

## To-do

- [x] Prepare web application deployment instructions
- [x] Prepare Android application deployment instructions

[2017-12-25 11:03] smddzcy opened #195 "Generate realistic content"
## About

We should generate some _realistic_ content (**at least 100 items**) in our production app to jumpstart crowdsourcing & recommendation system.

## To-do

- [x] Create realistic users.
- [x] Create realistic groups with some users joined.
- [x] Create realistic data templates and posts.

[2017-12-25 11:07] smddzcy opened #196 "Running real user tests"
## About

As per our final deliverables, we should run our user test cases and prepare results (including at least **5 non-member test results**).

[2017-12-25 11:07] smddzcy commented on #196
We need someone to go out and run our test cases with random people - preferably with people from other groups 😄

[2017-12-25 11:12] smddzcy opened #197 "Preparing the final presentation"
## About

This one is simple: We need to prepare our final presentation. We can use one of our old presentations to jumpstart.

[2017-12-25 11:14] smddzcy commented on #57
@bounswe/bounswe2017group5 It's urgent now - we should update our project plan **in 2 days.**

[2017-12-25 11:15] smddzcy opened #198 "Creating a project video"
## About

As per our final deliverables, we should create a project video that explains our system.

[2017-12-25 11:17] smddzcy commented on #198
AFAIK there are no strict requirements for the video. We can use one or some of our scenarios and make a simple video.

[2017-12-25 11:22] smddzcy opened #199 "Preparing the final report"
## About

We should prepare our final report. Note that this time **it must be ready before our final presentation**.

It should contain at least these:
- [ ] Final project assessment (Final Milestone -- assesses the whole process such as lessons learned)
- [ ] A summary of coding work done by each team member (In tabular format)
- [ ] Requirements
- [ ] All design documents
- [ ] User & system ma

[2017-12-25 11:26] iremUlutas commented on #193
If possible, a sample displaying how it should look like would be delightful.

[2017-12-25 11:31] iremUlutas commented on #178
I'd like to help this one if it's still in progress.

[2017-12-25 11:36] iremUlutas commented on #199
@smddzcy I am changing the todos to contain checkboxes to check the completeness of tasks.

[2017-12-25 11:38] smddzcy commented on #193
No sample is provided to us, but there should be thousands (if not millions) of them online. Please Google it 😄 (e.g. “user manual template” or “user manual example”)

[2017-12-25 11:39] smddzcy commented on #178
Please do help 👍

[2017-12-25 11:41] Morgazipa commented on #182
@ThoAppelsin  There is an excellent open source [JS library](https://github.com/openannotation/annotator/)  for annotations, with many useful plugins. I think that we could  make great use of it, if would be made compatible with W3C annotation model.

[2017-12-25 12:28] karacasoft commented on #192
https://github.com/bounswe/bounswe2017group5/tree/package

Maybe merging this into master is not a good idea. Have done some packaging which also includes setup instructions. Please check. Instruction mention about a project deployment document which I'll create soon.

[2017-12-25 23:13] smddzcy commented on #180
It's done for now 👍

[2017-12-25 23:13] #180 closed, assigned to nobody

[2017-12-25 23:25] smddzcy commented on #192
Looks good, closing this one 👌 Link to the document: https://docs.google.com/document/d/1ztY9P1DAj2lUaNmG7fClTZFhxiz-VKESpST4rXiQP2Q/edit#

[2017-12-25 23:25] #192 closed, assigned to karacasoft, smddzcy

[2017-12-25 23:26] smddzcy commented on #194
https://docs.google.com/document/d/1ztY9P1DAj2lUaNmG7fClTZFhxiz-VKESpST4rXiQP2Q/edit# covers deployment as well, closing this one. We'll get the Android application deployment instructions from Google.

[2017-12-25 23:26] #194 closed, assigned to karacasoft, smddzcy

[2017-12-26 15:27] Morgazipa commented on #181
Reading W3C annotation model document, I think the following are valid DB models:

Annotations on text:
[code]

Annotations on images
[code]

[2017-12-26 18:34] yfenes commented on #195
Realistic user ve groups are created.
Team members can access the credentials with help of the link shared in Slack.

[2017-12-26 19:11] smddzcy commented on #195
Thanks a lot 👍

[2017-12-26 22:07] smddzcy commented on #178
@iremUlutas Any progress? Note that this should be done by tomorrow.

[2017-12-26 22:09] smddzcy commented on #179
@triforce930 @norubai Please make some progress, or show us if you've already made 😄 I'll handle its backend/frontend tomorrow if no one else does.

[2017-12-26 22:10] smddzcy commented on #195
@murat0431 Will you be able to handle the data templates and posts?

[2017-12-26 22:13] ThoAppelsin opened #202 "Cannot create posts with default template"
## About

I don't know when this issue has emerged, but I cannot seem to share posts with the default template, the one with just the "Text" field.

I have checked if I can share on a previous version, and I can. I think we can easily pin-point the cause of the issue by going back in time. Not urgent, so I won't do it asap.

[2017-12-26 22:23] murat0431 commented on #195
Yeah.Tomorrow evening i will start to create realistic templates and posts.I thought every user
might have 4-5 templates and 4-5 posts in total.Thus every group will have 9-10 posts approximately.

[2017-12-26 23:24] ThoAppelsin commented on #182
I considered the Annotator.js for a while. I grew unsure about whether it would do as we please without giving us headaches and regrets. Instead;

We currently have a Firefox add-on with a content script and sidebar action. It creates an overlay on top of our website, allowing users to select one of any available HTML elements on screen. The selected element is _targeted_ (in [Web Annotation Model

[2017-12-26 23:36] smddzcy commented on #195
Sounds good 👌

[2017-12-26 23:37] smddzcy commented on #182
@ThoAppelsin Can we test the add-on as well?

[2017-12-27 00:02] ThoAppelsin commented on #182
Yeah, of course, please. Feel free to contribute, too.

You load the add-on temporarily by:
1) Navigating to “about:debugging”
2) Enable the debugging checkbox as you wish
3) Load add-on using the load button, selecting anything within the add-on folder loads it
4) Reload the add-on for changes to take effect using the reload button
5) Developer console is opened through the debug button, the chec

[2017-12-27 12:02] ThoAppelsin commented on #181
Not that I am 100% ready and only waiting for this, but it would help to have it sooner than later. Right now, I am developing in the whereabouts of my own imagination of what I would probably have as an API, for the Firefox add-on I mean (#182).

[2017-12-27 12:04] ThoAppelsin opened #203 "Images as content"
We do not offer any way of sharing images right now, to our customers. Would anybody like to quickly do something about it, or will we just not do it?

[2017-12-27 19:48] karacasoft commented on #177
This one is done...

[2017-12-27 19:48] #177 closed, assigned to karacasoft

[2017-12-27 21:39] Morgazipa commented on #181
This is done.

[2017-12-27 21:39] #181 closed, assigned to nobody

[2017-12-28 11:06] smddzcy commented on #203
Fixed.

[2017-12-28 11:07] smddzcy commented on #203
Sorry, wrong issue id 👍

[2017-12-28 11:07] smddzcy commented on #202
Fixed with cfd296869b7c8b86e43ba91f46f9177225dd78db.

[2017-12-28 11:07] #202 closed, assigned to ThoAppelsin

[2017-12-28 11:09] smddzcy commented on #182
Closing as we have a super-cool annotator now 👌

[2017-12-28 11:09] #182 closed, assigned to ThoAppelsin

[2017-12-28 11:38] iremUlutas opened #206 "Preparing Use Case Scenarios for the final presentation"
## About

* **Related Issues:** #197

A short summary of this issue...

## To-do
Features to show (off):
- [x] Advanced Search
- [x] Recommendation
- [ ] Privacy
- [x] Moderation
- [x] Annotation Plug-In

[2017-12-28 12:03] iremUlutas commented on #196
Working on it. My TODO list for the functionalities is as follows:
- [x] Creating Croup
- [x] Joining Group

- [x] Group Search
- [x] Post Search (Advanced Search)
- [x] Recommendation
- [ ] Privacy
- [x] Moderation
- [x] Annotation Plug-In

[2017-12-28 12:07] murat0431 commented on #195
I have created realistic templates and posts. Since it is not necessary anymore, I am closing this issue.

[2017-12-28 12:07] #195 closed, assigned to yfenes, murat0431

[2017-12-28 13:34] #179 closed, assigned to karacasoft, oal55

[2017-12-28 13:51] smddzcy commented on #203
Done.

[2017-12-28 13:51] #203 closed, assigned to ThoAppelsin

[2017-12-28 14:56] #206 closed, assigned to iremUlutas

[2017-12-28 14:56] iremUlutas commented on #196
Finished testing each feature except for privacy.

[2017-12-28 15:07] iremUlutas commented on #197
Done.

[2017-12-28 15:07] #197 closed, assigned to karacasoft, ThoAppelsin, smddzcy, iremUlutas

[2017-12-29 09:33] ThoAppelsin commented on #126
This was done too, I guess.

[2017-12-29 09:33] #126 closed, assigned to ThoAppelsin, yfenes

[2017-12-31 11:06] iremUlutas commented on #196
sorry, closed accidentaly

[2017-12-31 17:32] esra-aydemir commented on #196
I have created a group named Interestr (group 35) and made users write their feedback on that group with "User Feedback" template.
The steps I am making the user follow after explaining the project are as below:
- Sign up
- Log in
- Edit profile
- View News feed, join interested groups
- Search a group with his/her interest
- Create one if it does not exist
- Create a template on that group
- Post

[2018-01-02 20:24] iremUlutas commented on #193
Done and uploaded.

[2018-01-02 20:24] #193 closed, assigned to iremUlutas